<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="#" class="navbar-brand">Stop Here</a>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a routerLinkActive="active" routerLink="/recipes" class="nav-link" *ngIf="isAuthenticated">Recipe</a></li>
            <li><a routerLinkActive="active" routerLink="/auth" class="nav-link" *ngIf="!isAuthenticated">Authenticate</a></li>
            <li><a routerLinkActive="active" routerLink="/shopping-list" class="nav-link">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav ms-auto">
            <li>
                <a style="cursor: pointer;" class="nav-link" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
            </li>
            <li class="nav-item dropdown" appDropdown *ngIf="isAuthenticated">
                <a 
                    style="cursor: pointer;"
                    class="nav-link dropdown-toggle" 
                    role="button" data-bs-toggle="dropdown"
                    id="navbarDropdown"
                    >Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
                        <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
            </li>
        </ul>
    </div>

</nav>