<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <ul class="list-group">
        <input type="text" class="form-group" [(ngModel)]="filteredStatus">
        <br>
        <h2>App Status: {{ appStatus | async }}</h2>
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add server</button>
        <hr>
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus : 'status' | sort: 'name'" 
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge rounded-pill bg-secondary float">
            {{ server.status }}
          </span>
          <strong>
            {{ server.name | shorten: 20 }}</strong> | 
            {{ server.instanceType | uppercase | reverse }} | 
            <!-- chaning the pipes with folloing example of two pipes -->
            {{ server.started | date:'fullDate' | uppercase }} 
        </li>
      </ul>
    </div>
  </div>
</div>
